<!--<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2><mat-icon>list</mat-icon> {{ "Peticiones" | localize }}</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
            --><!--query start--><!--
                <div class="row clearfix">
                    <form>
                        <mat-form-field>
                            <input matInput [placeholder]="l('Filter')" [(ngModel)]="filterText" name="keyword">
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-12 text-right p-r-25">
                                <button mat-raised-button style="background-color: #EA80FC; color: white;"s (click)="getDataPage(1)">{{ 'Search' | localize }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            --><!--query end--><!--
                <table class="table table-hover table-striped" [busy]="isTableLoading">
                    <thead>
                        <tr>
                            <th>{{ "NombreUsuario" | localize }}</th>
                            <th>{{ "Categoria" | localize }}</th>
                            <th>{{ "Texto" | localize }}</th>
                            <th>{{ "HorarioInicio" | localize }}</th>
                            <th>{{ "HorarioFin" | localize }}</th>
                            <th>{{ "Municipio" | localize }}</th>
                            <th>{{ "Ciudad" | localize }}</th>
                            <th>{{ "EsUrgente" | localize }}</th>
                            
                            <th>{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                let peticion of (peticiones
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      })
              ">            
                            <td>{{ peticion.publicacionNombreUsuario }}</td>
                            <td>{{ peticion.publicacionCategoria }}</td>
                            <td>{{ peticion.publicacionTexto }}</td>
                            <td>{{ peticion.publicacionHorarioInicio }}</td>
                            <td>{{ peticion.publicacionHorarioFin }}</td>
                            <td>{{ peticion.publicacionMunicipio }}</td>
                            <td>{{ peticion.publicacionCiudad }}</td>
                            <td>{{ peticion.isUrgent }}</td>
                            <td>
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item (click)="editPeticion(peticion)">
                                        <mat-icon>edit</mat-icon>
                                        <span>{{ "Edit" | localize }}</span>
                                    </button>
                                    <button mat-menu-item (click)="delete(peticion)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ "Delete" | localize }}</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div>
                <button mat-mini-fab style="background-color: #EA80FC; color: white;" class="pull-right" (click)="createPeticion()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>-->




<!--<mat-toolbar style="background-color: white; color: #D500F9;">
    <h1>Peticiones</h1>
  </mat-toolbar>
<div >
    <div *ngFor="
    let peticion of (peticiones
      | paginate
        : {
            id: 'server',
            itemsPerPage: pageSize,
            currentPage: pageNumber,
            totalItems: totalItems
          })
  ">
        <div class="card main-content">

            <div class="header" style="margin: 10px">
                <img class="card-img-left" src="assets/images/user.png" width="88" height="88" alt="User"/>  
                <p class="card-body" style="display: inline; margin-left: 25px; font-size: large;"><strong>{{ peticion.publicacionNombreUsuario }}</strong></p>
            --><!-- <button class="mdc-icon-button material-icons" [ngClass]="{si: estadoPositivo, no: !estadoPositivo}" (click)="cambiaEstado()" style="display: inline; margin-left: 25px; margin-top: 32px; float: right; background-color: transparent;">favorite</button>-->

               <!--<div style="display: inline;" *ngIf="peticion.numUsuarios > 0; else no">                

                    <div style="display: inline;" *ngFor="let usu of peticion.usuariosGustaPeticion">
                        
                        HOLAA-{{countFav}}
                        <ng-container #hola *ngIf="usu.usuario.userName == uLogado ">                            
                            HOLA-{{countFav}}
                            <button class="mdc-icon-button material-icons" 
                                style="color: red; display: inline; margin-left: 25px; margin-top: 32px; float: right; 
                                background-color: transparent;" (click)="noGustaPublicacion(peticion.publicacionId)">favorite</button>
                            
                        </ng-container>

                        QUEE-{{countFav}}
                        <ng-container *ngIf="usu.usuario.userName != uLogado ">
                            QUE-{{countFav}}
                            <button class="mdc-icon-button material-icons" 
                                style="color: grey; display: inline; margin-left: 25px; margin-top: 32px; float: right; 
                                background-color: transparent;" (click)="gustaPublicacion(peticion.publicacionId)">favorite</button>
                        </ng-container>
                    </div>
                </div>
                PASAA-{{countFav}}
                <ng-template #no >
                    PASA-{{countFav}}
                    <button class="mdc-icon-button material-icons" 
                        style="color: grey; display: inline; margin-left: 25px; margin-top: 32px; float: right; 
                        background-color: transparent;" (click)="gustaPublicacion(peticion.publicacionId)">favorite</button>
                </ng-template>

                <p class="card-body text-right" style="display: inline; margin-left: 25px; margin-top: 32px; float: right;"><strong>Numero de Favoritos:</strong>{{peticion.numUsuarios}}</p>


                <p class="card-body text-right" style="display: inline; margin-left: 25px; margin-top: 32px; float: right;"><strong>Categoría:</strong> {{ peticion.publicacionCategoria }}</p>
            </div>

            <div class="card-body" style="margin: 30px">
                <p style="font-size: large;">{{ peticion.publicacionTexto }}</p>
                <p *ngIf="peticion.isUrgent==true"><strong>Es urgente: </strong>Si</p>
                <p *ngIf="peticion.isUrgent==false"><strong>Es urgente: </strong>No</p>
            </div>

            <div class="card-body" style="margin: 30px; padding-bottom: 20px;">
                <p  style="display: inline;"><strong>Horario Inicio:</strong> {{ peticion.publicacionHorarioInicio }}</p>
                <p  style="display: inline; margin-left: 70px;"><strong>Horario Fin:</strong> {{ peticion.publicacionHorarioFin }}</p>
                <p  style="display: inline; margin-left: 150px;"><strong>Municipio:</strong> {{ peticion.publicacionMunicipio }}</p>
                <p  style="display: inline; margin-left: 70px;"><strong>Ciudad:</strong> {{ peticion.publicacionCiudad }}</p>
            </div>

        </div>

    </div> 

    <button class="mdc-fab " mat-mini-fab style="background-color: #EA80FC; color: white; width: 70px; height: 70px;
        position: fixed;bottom: 1rem;right: 1rem;" class="pull-right" (click)="createPeticion()">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">add</span>
    </button>

</div>-->


<mat-toolbar style="background-color: white; color: #D500F9;">
    <h1>Peticiones</h1>
  </mat-toolbar>

  <br />
<div class="dropdown" mdbDropdown>
    <mat-toolbar style="background-color: white;">
        <h2 style="color : #EA80FC; margin-left: 10px;">Buscar por...</h2>

        <mat-menu #appCategoria="matMenu">
            <button mat-menu-item (click)="buscarTodas()">-Todas-</button>
            <button mat-menu-item (click)="buscarCategoria('Peques')">Peques</button>
            <button mat-menu-item (click)="buscarCategoria('Clases')">Clases</button>
            <button mat-menu-item (click)="buscarCategoria('Informatica')">Informatica</button>
            <button mat-menu-item (click)="buscarCategoria('Terapia')">Terapia</button>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appCategoria" class="mat-raised-button " 
                style="background-color: #EA80FC;  margin-left: 30px;
                color:white;">Categoria &nbsp;
                <i class="fa fa-list-ul" aria-hidden="true"></i>
        </button>

        <mat-menu #appCiudad="matMenu">
            <mat-form-field autoClose="nonInput">
                <mat-label>Ciudad...</mat-label>
                <input class="input-log" name="text" matInput [(ngModel)]="text" (click)="buscarCiudad(text)">
            </mat-form-field>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appCiudad" class="mat-raised-button " 
                style="background-color: #EA80FC;  margin-left: 20px;
                color:white;">Ciudad &nbsp;
                <i class="fa fa-map-marker" aria-hidden="true"></i>
        </button>

        <mat-menu #appMunicipio="matMenu">
            <mat-form-field autoClose="nonInput">
                <mat-label>Municipio...</mat-label>
                <input class="input-log" name="texto" matInput [(ngModel)]="texto" (click)="buscarMunicipio(texto)">
            </mat-form-field>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appMunicipio" class="mat-raised-button " 
                style="background-color: #EA80FC;  margin-left: 20px;
                color:white;">Municipio &nbsp;
                <i class="fa fa-home" aria-hidden="true"></i>
        </button>

        <mat-menu #appUrgente="matMenu">
            <button mat-menu-item (click)="buscarTodas()">-Todas-</button>
            <button mat-menu-item (click)="esUrgente('Si')">Si</button>
            <button mat-menu-item (click)="esUrgente('No')">No</button>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appUrgente" class="mat-raised-button " 
                style="background-color: #EA80FC;  margin-left: 20px;
                color:white;">Es urgente &nbsp;
                <i class="fa fa-asterisk" aria-hidden="true"></i>
        </button>

        <mat-menu #appUsu="matMenu">
            <mat-form-field autoClose="nonInput">
                <mat-label>Usuario...</mat-label>
                <input class="input-log" name="texti" matInput [(ngModel)]="texti" (click)="buscarUsuario(texti)">
            </mat-form-field>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appUsu" class="mat-raised-button " 
                style="background-color: #EA80FC;  margin-left: 20px;
                color:white;">Usuario &nbsp;
                <i class="fa fa-user" aria-hidden="true"></i>
        </button>

        <mat-menu #appHorarioIni="matMenu">
            <button mat-menu-item (click)="buscarTodas()">-Todas-</button>
            <button mat-menu-item (click)="buscarHorarioIni('6')">6</button>
            <button mat-menu-item (click)="buscarHorarioIni('7')">7</button>
            <button mat-menu-item (click)="buscarHorarioIni('8')">8</button>
            <button mat-menu-item (click)="buscarHorarioIni('9')">9</button>
            <button mat-menu-item (click)="buscarHorarioIni('10')">10</button>
            <button mat-menu-item (click)="buscarHorarioIni('11')">11</button>
            <button mat-menu-item (click)="buscarHorarioIni('12')">12</button>
            <button mat-menu-item (click)="buscarHorarioIni('13')">13</button>
            <button mat-menu-item (click)="buscarHorarioIni('14')">14</button>
            <button mat-menu-item (click)="buscarHorarioIni('15')">15</button>
            <button mat-menu-item (click)="buscarHorarioIni('16')">16</button>
            <button mat-menu-item (click)="buscarHorarioIni('17')">17</button>
            <button mat-menu-item (click)="buscarHorarioIni('18')">18</button>
            <button mat-menu-item (click)="buscarHorarioIni('19')">19</button>
            <button mat-menu-item (click)="buscarHorarioIni('20')">20</button>
            <button mat-menu-item (click)="buscarHorarioIni('21')">21</button>
            <button mat-menu-item (click)="buscarHorarioIni('22')">22</button>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appHorarioIni" class="mat-raised-button " 
                style="background-color: #EA80FC;  margin-left: 30px;
                color:white;">Horario de Inicio &nbsp;
                <i class="fa fa-clock-o" aria-hidden="true"></i>
        </button>

        

    </mat-toolbar>
</div>

<br />


<div >
    <div *ngFor="
    let peticion of (peticiones
      | paginate
        : {
            id: 'server',
            itemsPerPage: pageSize,
            currentPage: pageNumber,
            totalItems: totalItems
          })
  ">
        <div class="card main-content">

            <div class="header" style="margin: 10px">
                <img class="card-img-left" src="assets/images/user.png" width="88" height="88" alt="User"/>  
                <p class="card-body" style="display: inline; margin-left: 25px; font-size: large;"><strong>{{ peticion.publicacionNombreUsuario }}</strong></p>
               <!-- <button class="mdc-icon-button material-icons" [ngClass]="{si: estadoPositivo, no: !estadoPositivo}" (click)="cambiaEstado()" style="display: inline; margin-left: 25px; margin-top: 32px; float: right; background-color: transparent;">favorite</button>-->
       
                <div style="display: inline;">
                    
                    <ng-container *ngIf="peticion.usuarioActualGustaPublicacion; else no">   
                        <button class="mdc-icon-button material-icons" 
                            style="color: red; display: inline; margin-left: 25px; margin-top: 32px; float: right; 
                            background-color: transparent;" (click)="noGustaPublicacion(peticion.publicacionId)">favorite</button>     
                    </ng-container>

                    <ng-template #no>
                        
                        <button class="mdc-icon-button material-icons" 
                            style="color: grey; display: inline; margin-left: 25px; margin-top: 32px; float: right; 
                            background-color: transparent;" (click)="gustaPublicacion(peticion.publicacionId)">favorite</button>
                    </ng-template>
                </div>

                <p class="card-body text-right" style="display: inline; margin-left: 25px; margin-top: 32px; float: right;"><strong>Numero de Favoritos:</strong>{{peticion.numUsuarios}}</p>

                <p class="card-body text-right" style="display: inline; margin-left: 25px; margin-top: 32px; float: right;"><strong>Categoría:</strong> {{ peticion.publicacionCategoria }}</p>
            </div>

            <div class="card-body" style="margin: 30px">
                <p style="font-size: large;">{{ peticion.publicacionTexto }}</p>
                <p *ngIf="peticion.isUrgent==true"><strong>Es urgente: </strong>Si</p>
                <p *ngIf="peticion.isUrgent==false"><strong>Es urgente: </strong>No</p>
            </div>

            <div class="card-body" style="margin: 30px; padding-bottom: 20px;">
                <p  style="display: inline;"><strong>Horario Inicio:</strong> {{ peticion.publicacionHorarioInicio }}</p>
                <p  style="display: inline; margin-left: 70px;"><strong>Horario Fin:</strong> {{ peticion.publicacionHorarioFin }}</p>
                <p  style="display: inline; margin-left: 150px;"><strong>Municipio:</strong> {{ peticion.publicacionMunicipio }}</p>
                <p  style="display: inline; margin-left: 70px;"><strong>Ciudad:</strong> {{ peticion.publicacionCiudad }}</p>
            </div>

        </div>

    </div> 

    <button class="mdc-fab " mat-mini-fab style="background-color: #EA80FC; color: white; width: 70px; height: 70px;
        position: fixed;bottom: 1rem;right: 1rem;" class="pull-right" (click)="createPeticion()">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">add</span>
    </button>

</div>
