<div class="row clearfix" [@routerTransition] style="width: 500px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       
            <h3 style="color:#EA80FC">SEGUIDOS</h3>
            <div class="body table-responsive">
                <!--query end-->
                <table class="table table-hover table-striped" [busy]="isTableLoading" style="width: 500px;">
                    <tbody>
                        <tr *ngFor="
                let user of (_user.usuariosSeguidos
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      })
              ">            
                            <td>{{ user.usuario.userName }}</td>
                            <td>
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item >
                                        <mat-icon>chat</mat-icon>
                                        <span>{{ "Mensaje" | localize }}</span>
                                    </button>
                                    <button mat-menu-item >
                                        <mat-icon>email</mat-icon>
                                        <span>{{ "Correo" | localize }}</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div>
            </div>
        
    </div>
</div>