<div class="card" [@routerTransition] style="width:max-content;height:auto;">
  <div class="body" >
    <form novalidate 
          #registerForm="ngForm" 
          (ngSubmit)="save()">
      <h4 class="text-center">{{ "Registro" | localize }}</h4>
      <div class="form-group form-float">
          <div class="col-md-6">
            <mat-form-field>
                <input matInput
                  name="Name"
                  [(ngModel)]="model.name"
                  [placeholder]="'Nombre' | localize"
                  required
                  maxlength="32" />
            </mat-form-field>
            <mat-form-field>
                <input matInput
                    name="Surname"
                    [(ngModel)]="model.surname"
                    [placeholder]="'Apellidos' | localize"
                    required
                    maxlength="32"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                    type="email"
                    name="EmailAddress"
                    [(ngModel)]="model.emailAddress"
                    [placeholder]="'Correo Electrónico' | localize"         
                    required
                    maxlength="255"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                    name="UserName"
                    [(ngModel)]="model.userName"
                    [placeholder]="'Login' | localize"         
                    required
                    maxlength="32"/>
            </mat-form-field>
            <mat-form-field>              
                <input matInput
                       type="date"
                       name="fecha_Inicio"
                       [placeholder]="'Fecha de Nacimiento' | localize"
                       [(ngModel)]="model.birthDate"
                       required />            
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput
                  name="Town"
                  [(ngModel)]="model.town"
                  [placeholder]="'Municipio' | localize"         
                  required
                  maxlength="32"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                  name="City"
                  [(ngModel)]="model.city"
                  [placeholder]="'Ciudad' | localize"         
                  required
                  maxlength="32"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                  name="Qualities"
                  [(ngModel)]="model.qualities"
                  [placeholder]="'Cualidades' | localize"         
                  required
                  maxlength="32"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                      name="Password"
                      [(ngModel)]="model.password"
                      [placeholder]="'Contraseña' | localize"
                      type="password"         
                      required
                      maxlength="32"/>
            </mat-form-field>
          </div>
        </div>
      <div class="form-actions text-center">
            <button mat-button 
                    type="button"
                    [disabled]="saving"
                    [routerLink]="['../login']">
                    {{ "Volver" | localize }}
            </button>
            <span>&nbsp;</span>
            <button mat-flat-button
                    type="button"
                    flex="15"
                    color="primary"
                    [disabled]="!registerForm.form.valid || saving"
                    (click)="save()">
                    {{ "Entrar" | localize }}
            </button>    
      </div>
    </form>
  </div>
</div>
