<form autocomplete="off" #createPeticionForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "CreateNewPeticion" | localize }}</h1>
    <mat-dialog-content style="width:600px;height:300px;">
        <mat-tab-group>
            <mat-tab [label]="'PeticionDetalles' | localize">
                <br />
                <div class="row-fluid">
                  <div class="col-md-6">
                    
                    <mat-form-field>
                      <input
                        matInput
                        name="Categoria"
                        [placeholder]="'Categoria' | localize"
                        [(ngModel)]="peticion.publicacionCategoria"
                        required
                        minlength="2"
                        maxlength="32"
                      />
                       <!--
                      <select id="categoria">
                        <option value=" "> </option>
                        <option value="niños">Niños</option>
                        <option value="clases">Clases</option>
                        <option value="informatica">Informatica</option>
                        <option value="compras">Compras</option>
                      </select>-->
                    </mat-form-field>
                  
                    <!--<div ng-app="myApp" ng-controller="myCtrl">
                      <select ng-model="selectedName" ng-options="x for x in names">
                      </select>
                    </div>
                    <script>
                    var app = angular.module('myApp', []);
                    app.controller('myCtrl', function($scope) {
                        $scope.names = ["Emil", "Tobias", "Linus"];
                    });
                    </script>-->
                    <!--
                    <div ng-app="myApp" ng-controller="myCtrl">

                      <p>Select a categoria:</p>
                      
                      <select ng-categoria="selectedCategoria">
                      <option ng-repeat="x in categorias" value="{{x.categoria}}">{{x.categoria}}</option>
                      </select>
                      
                      <h1>You selected: {{selectedCategoria}}</h1>
                      
                      </div>
                      
                      <script>
                      var app = angular.module('myApp', []);
                      app.controller('myCtrl', function($scope) {
                          $scope.categorias = [
                              {categoria : "Niños", color : "red"},
                              {categoria : "Informatica", color : "white"},
                              {categoria : "Clases", color : "black"}
                          ];
                      });
                      </script>
                    -->
                    <mat-form-field>
                      <input
                        matInput
                        name="Texto"
                        [placeholder]="'Texto' | localize"
                        [(ngModel)]="peticion.publicacionTexto"
                        required
                        maxlength="256"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="HorarioInicio"
                        [placeholder]="'HorarioInicio' | localize"
                        [(ngModel)]="peticion.publicacionHorarioInicio"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="HorarioFin"
                        [placeholder]="'HorarioFin' | localize"
                        [(ngModel)]="peticion.publicacionHorarioFin"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="Municipio"
                        [placeholder]="'Municipio' | localize"
                        [(ngModel)]="peticion.publicacionMunicipio"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="Ciudad"
                        [placeholder]="'Ciudad' | localize"
                        [(ngModel)]="peticion.publicacionCiudad"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>
                    
                    <mat-form-field>
                      <input
                        matInput
                        name="EsUrgente"
                        [placeholder]="'EsUrgente' | localize"
                        [(ngModel)]="peticion.isUrgent"
                        required
                        maxlength="256"
                      />
                    </mat-form-field>
                    
                  </div>
                </div>
              </mat-tab>
              
            
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                style="background-color: #EA80FC; color: white;"
                [disabled]="!createPeticionForm.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
