<form autocomplete="off" #createPeticionForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "CrearNuevaPeticion" | localize }}</h1>
    <mat-dialog-content style="width:600px;height:300px;">
        <mat-tab-group>
            <mat-tab [label]="'PeticionDetalles' | localize">
                <br />
                <div class="row-fluid">
                  <div class="col-md-6">
                    
                    <mat-form-field>
                      <mat-label>Categoría: </mat-label>
                      <mat-select matNativeControl required [formControl]="selectFormControl"
                           [(value)]="categoria">
                        <mat-option label="--seleccione categoria--"></mat-option>
                        <mat-option value="Infantil">Infantil</mat-option>
                        <mat-option value="Educativo">Educativo</mat-option>
                        <mat-option value="Informatica">Informatica</mat-option>
                        <mat-option value="Terapia">Terapia</mat-option>
                        <mat-option value="Compras">Compras</mat-option>
                        <mat-option value="Mayores">Mayores</mat-option>
                        <mat-option value="Idiomas">Idiomas</mat-option>
                        <mat-option value="Ambiental">Ambiental</mat-option>
                        <mat-option value="Cultural">Cultural</mat-option>
                        <mat-option value="Comunitario">Comunitario</mat-option>
                        <mat-option value="Internacional">Internacional</mat-option>
                        <mat-option value="Sanitario">Sanitario</mat-option>
                        <mat-option value="Ocio">Ocio</mat-option>
  
                      </mat-select>
                      
                      <mat-hint>Aqui puedes seleccionar la categoria</mat-hint>
                    </mat-form-field>

                    
                    <mat-form-field>
                      <input
                        matInput
                        name="Texto"
                        [placeholder]="'Texto' | localize"
                        [(ngModel)]="peticion.publicacionTexto"
                        required
                        maxlength="256"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="HorarioInicio"
                        [placeholder]="'HorarioInicio' | localize"
                        [(ngModel)]="peticion.publicacionHorarioInicio"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="HorarioFin"
                        [placeholder]="'HorarioFin' | localize"
                        [(ngModel)]="peticion.publicacionHorarioFin"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="Municipio"
                        [placeholder]="'Municipio' | localize"
                        [(ngModel)]="peticion.publicacionMunicipio"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="Ciudad"
                        [placeholder]="'Ciudad' | localize"
                        [(ngModel)]="peticion.publicacionCiudad"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>
                    
                    <div class="checkbox-wrapper">
                      <mat-checkbox name="EsUrgente" [(ngModel)]="peticion.isUrgent">
                        {{ "EsUrgente" | localize }}
                      </mat-checkbox>
                    </div>
                    
                  </div>
                </div>
              </mat-tab>
              
            
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancelar" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                style="background-color: #EA80FC; color: white;"
                [disabled]="!createPeticionForm.form.valid || saving">
            {{ "Guardar" | localize }}
        </button>
    </div>
</form>
