<div>
    <mat-toolbar style="background-color: white; color: #D500F9; font-size: large; 
        ">
        <h1 style="font-weight: bold; font-size: xx-large; margin-left: auto; margin-right: auto;">
            <i class="fa fa-exchange" aria-hidden="true"></i> Voluntarios España</h1>
    </mat-toolbar>
</div>

<div class="card main-content" style="background-color: #EA80FC; margin-top: 20px;">

    <div style="display: flex; justify-content: center; height: 600px;">

        <div class="card main-content" style="padding: 20px 0px; width: 40%; margin-top: 50px; height: fit-content; margin-left: auto;">

            <div class="header" style="margin: 10px">
                
                <div class="card-body" s>
                    <p style="font-weight: bold; font-size: large; ">¿Te gustaría ayudar a las personas mas cercanas a ti?</p>
                    <p  style="font-weight: bold; font-size: large; ">¿Te gustaría ser voluntario con personas de tu barrio?</p>
                    <p  style="font-weight: bold; font-size: large; ">¿Necesitas ayuda y no saber como pedirla?</p>
                    
                </div>
            </div>
        </div>

        <div class="card main-content" style="padding: 20px 0px; width: 40%; margin-bottom: 50px; margin-top: auto; height: fit-content; margin-right: auto;">

            <div class="header" style="margin: 10px">
                
                <div class="card-body" >
                    
                    <p  style="font-size: x-large; "><strong>¡EMPIEZA AHORA!</strong></p>

                    <button class="mdc-button--raised" style="background-color: #EA80FC; border-radius: 50px;">
                        <a [routerLink] = "['/app/anuncios']" style="color: black; text-decoration: none;"> 
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label" style="color: #D500F9; font-size: large; padding: 16px; font-weight: bold;">ANUNCIATE COMO VOLUNTARIO</span>
                        </a>
                    </button>

                    <button class="mdc-button--raised" style="background-color: #EA80FC; border-radius: 50px;">
                        <a [routerLink] = "['/app/peticiones']" style="color: black; text-decoration: none;"> 
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label" style="color: #D500F9; font-size: large; padding: 16px; font-weight: bold;">PIDE AYUDA</span>
                        </a>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
