<div>
    <mat-toolbar id="toolbar">
        <h1>
            <i class="fa fa-exchange" aria-hidden="true"></i> Voluntarios España</h1>
    </mat-toolbar>
</div>

<div class="card main-content" id="div1">

    <div id="div2">

        <div class="card main-content" id="div3">

            <div class="header" id="div4">
                
                <div class="card-body" s>
                    <p id="preguntas">¿Te gustaría ayudar a las personas mas cercanas a ti?</p>
                    <p id="preguntas">¿Te gustaría ser voluntario con personas de tu barrio?</p>
                    <p id="preguntas">¿Necesitas ayuda y no saber como pedirla?</p>
                    
                </div>
            </div>
        </div>

        <div class="card main-content" id="div5">

            <div class="header" id="div4">
                
                <div class="card-body" >
                    
                    <p id="p1"><strong>¡EMPIEZA AHORA!</strong></p>

                    <button class="mdc-button--raised" id="but1" matTooltip="Ir a anuncios">
                        <a [routerLink] = "['/app/anuncios']"> 
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label" id="span-but">ANUNCIATE COMO VOLUNTARIO</span>
                        </a>
                    </button>

                    <button class="mdc-button--raised" id="but1" matTooltip="Ir a peticiones">
                        <a [routerLink] = "['/app/peticiones']"> 
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label" id="span-but">PIDE AYUDA</span>
                        </a>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
