<div >
    <div>
        <div class="card main-content">
            <div class="header" id="m10">
                <img class="card-img-left" src="assets/images/user.png" width="88" height="88" alt="User"/>  
                <p class="card-body" id="p-user"><strong>{{ peticion.publicacionNombreUsuario }}</strong></p>
                
                <ng-container *ngIf="peticion.usuarioActualGustaPublicacion == true; else no">   
                    <button class="mdc-icon-button material-icons" matTooltip="Te gusta la peticion"
                        id="but-fav-red" (click)="noGustaPublicacion(peticion.publicacionId)">favorite</button>     
                </ng-container>

                <ng-template #no>
                    
                    <button class="mdc-icon-button material-icons" matTooltip="No te gusta la peticion"
                        id="but-fav-grey" (click)="gustaPublicacion(peticion.publicacionId)">favorite</button>
                </ng-template>                
                
                <p class="card-body text-right" id="categ"><strong>Categoría:</strong> {{ peticion.publicacionCategoria }}</p>
            </div>
            <div class="card-body" id="m30">
                <p id="text">{{ peticion.publicacionTexto }}</p>
                <p *ngIf="peticion.isUrgent==true"><strong>Es urgente: </strong>Si</p>
                <p *ngIf="peticion.isUrgent==false"><strong>Es urgente: </strong>No</p>
            </div>
            <div class="card-body" id="div1">
                <p id="div-inline"><strong>Horario Inicio:</strong> {{ peticion.publicacionHorarioInicio }}</p>
                <p id="div2"><strong>Horario Fin:</strong> {{ peticion.publicacionHorarioFin }}</p>
                <p id="div3"><strong>Municipio:</strong> {{ peticion.publicacionMunicipio }}</p>
                <p id="div2"><strong>Ciudad:</strong> {{ peticion.publicacionCiudad }}</p>
            </div>
        </div>
    </div>    
</div>
