<!--NOMBRE E IMAGEN-->
<div class="row clearfix " [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="card main-content ">
            <div class="header " >
                <img class="card-img-left" src="assets/images/user.png" width="88" height="88" alt="User"/>  
                <h2 class="card-body" style="display: inline; margin-left: 25px; font-weight: bold;">{{ user.userName }}</h2>
                <ul class="header-dropdown m-r--5">
                    <li><app-usuarios-seguidores></app-usuarios-seguidores></li>
                    <li><app-usuarios-seguidos></app-usuarios-seguidos></li>
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" 
                            class="header-dropdown-mat-icon-button">
                            <mat-icon>settings</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</div>

<!--INFORMACION PERSONAL-->
<div>
    <div class="row clearfix" [@routerTransition] style="display: inline-flex; margin-left: 8px;">
        <div class="col-lg-20 col-md-20 col-sm-20 col-xs-20">
            <div class="card main-content">
                <div class="body table-responsive">
                    <table class="table table-hover table-striped" [busy]="isTableLoading">
                        <tbody>
                            <tr>
                                <th>Municipio</th>
                                <td>{{ user.town }}</td>
                            </tr>
                            <tr>
                                <th>Ciudad</th>
                                <td>{{ user.city }}</td>
                            </tr>
                            <tr>
                                <th>Cualidades</th>
                                <td>{{ user.qualities }}</td>
                            </tr>                        
                        </tbody>
                    </table>
                    <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CREAR ANUNCIO/PETICION-->

    <div *ngIf="comprobacion==true" class="row clearfix" [@routerTransition] style="display: inline-flex; margin-left: 200px;">
        <div class="col-lg-20 col-md-20 col-sm-20 col-xs-20">
            <div class="card main-content">
                <div class="body table-responsive">
                    <table class="table" [busy]="isTableLoading">
                        <tbody>
                            <tr>
                                <button class="mat-raised-button " style="background-color: #EA80FC; 
                                    color:white" (click)="createAnun()">NUEVO ANUNCIO</button>
                            </tr>
                            <tr>
                                <button class="mat-raised-button " style="background-color: #EA80FC; 
                                    color:white; margin-top: 12px;">NUEVA PETICIÓN</button>
                            </tr>                        
                        </tbody>
                    </table>
                    <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--BOTONES DE COSAS GUARDADAS-->

    <div *ngIf="comprobacion==true" class="row clearfix" [@routerTransition] style="display: inline-flex; margin-left: 200px;">
        <div class="col-lg-20 col-md-20 col-sm-20 col-xs-20">
            <div class="card main-content">
                <div class="body table-responsive">
                    <table class="table" [busy]="isTableLoading">
                        <tbody>
                            <tr>
                                <button class="mat-raised-button " style="background-color: #EA80FC; 
                                    color:white" >USUARIOS GUARDADOS</button>
                            </tr>
                            <tr>
                                <button class="mat-raised-button " style="background-color: #EA80FC; 
                                    color:white; margin-top: 12px;">ANUNCIOS GUARDADOS</button>
                            </tr>   
                            <tr>
                                <button class="mat-raised-button " style="background-color: #EA80FC; 
                                    color:white; margin-top: 12px;">PETICIONES GUARDADAS</button>
                            </tr>                        
                        </tbody>
                    </table>
                    <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--ANUNCIOS DEL USUARIO-->

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#anuncios">Anuncios</a></li>
        <li><a data-toggle="tab" href="#peticiones">Peticiones</a></li>
    </ul>

    <div class="tab-content">
        <div id="anuncios" class="tab-pane fade in active">
            <app-mostrar-anuncios></app-mostrar-anuncios>
        </div>
        <div id="peticiones" class="tab-pane fade">
          <app-mostrar-peticiones></app-mostrar-peticiones>
        </div>
    </div>
</div>
  
