

<div class="image">
    <img src="assets/images/user.png" width="88" height="88" alt="User" />
</div>

<p>{{user.userName}}</p>
<p>{{user.name}}</p>
<p>Ciudad: {{user.city}}</p>

<p>Cualidades: {{user.qualities}}</p>

<button (click)="createAnun()">NUEVO ANUNCIO</button>
<button>NUEVA PETICIÓN</button>

<button>USUARIOS GUARDADOS</button>
<button>ANUNCIOS GUARDADOS</button>
<button>PETICIONES GUARDADAS</button>

<button><mat-icon>settings</mat-icon></button>


<div class="body table-responsive">
    <!--query start-->
    <div class="row clearfix">
        <form>
            <mat-form-field>
                <input matInput [placeholder]="l('Filter')" [(ngModel)]="filterText" name="keyword">
            </mat-form-field>

        </form>
    </div>
    <!--query end-->
    <table class="table table-hover table-striped" [busy]="isTableLoading">
        <thead>
            <tr>
                <th>{{ "NombreUsuario" | localize }}</th>
                <th>{{ "Categoria" | localize }}</th>
                <th>{{ "Texto" | localize }}</th>
                <th>{{ "HorarioInicio" | localize }}</th>
                <th>{{ "HorarioFin" | localize }}</th>
                <th>{{ "Municipio" | localize }}</th>
                <th>{{ "Ciudad" | localize }}</th>
                <th>{{ "Preferencias" | localize }}</th>
                
                <th>{{ "Actions" | localize }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
    let anuncio of (anuncios
      | paginate
        : {
            id: 'server',
            itemsPerPage: pageSize,
            currentPage: pageNumber,
            totalItems: totalItems
          })
  ">            
                <td>{{ anuncio.publicacionNombreUsuario }}</td>
                <td>{{ anuncio.publicacionCategoria }}</td>
                <td>{{ anuncio.publicacionTexto }}</td>
                <td>{{ anuncio.publicacionHorarioInicio }}</td>
                <td>{{ anuncio.publicacionHorarioFin }}</td>
                <td>{{ anuncio.publicacionMunicipio }}</td>
                <td>{{ anuncio.publicacionCiudad }}</td>
                <td>{{ anuncio.preferencias }}</td>
                <td>
                    <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item (click)="editAnuncio(anuncio)">
                            <mat-icon>edit</mat-icon>
                            <span>{{ "Edit" | localize }}</span>
                        </button>
                        <button mat-menu-item (click)="delete(anuncio)">
                            <mat-icon>delete</mat-icon>
                            <span>{{ "Delete" | localize }}</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
        </abp-pagination-controls>
    </div>
</div>