<div class="card main-content row clearfix" style="margin-bottom: 15px; " >
    <mat-toolbar style="background-color: white; color: #D500F9;">
        <h1>{{ "Chats" | localize }}</h1>
        <ul class="header-dropdown m-r--5" style="position: absolute; top: 20px; right: 15px;">
            <li style="list-style: none;">
                <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #headerMenu="matMenu">
                    <button mat-menu-item (click)="refresh()">
                        <mat-icon>refresh</mat-icon>
                        <span>{{ "Refresh" | localize }}</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </mat-toolbar>
</div>



<div class="row clearfix" [@routerTransition] >
    <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15" >
        <div class="card main-content" >
            <!--<div class="header">
                <h2><mat-icon>message</mat-icon> {{ "Chats" | localize }}</h2>
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>-->
            <div class="body table-responsive">
                <!--query start-->
                <div class="row clearfix">
                    <form>
                        <mat-form-field>
                            <input matInput [placeholder]="l('Filter')" [(ngModel)]="filterText" name="keyword">
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-12 text-right p-r-25">
                                <button mat-raised-button style="background-color: #EA80FC; color: white;" 
                                (click)="getDataPage(1)">{{ 'Search' | localize }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--query end-->
                <table class="table table-hover table-striped" [busy]="isTableLoading">
                    <tbody>
                        <tr *ngFor="
                let chat of (chats
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      })
                " >          
                            <td><a [routerLink] = "['/app/chats',chat.id]" style="color: black; text-decoration: none;"> {{ chat.usuarioOrigen }}</a></td>
                        
                            <td><a [routerLink] = "['/app/chats',chat.id]" style="color: black; text-decoration: none;"> {{ chat.usuarioDestino }}</a></td>

                            <td><a [routerLink] = "['/app/chats',chat.id]" style="color: black; text-decoration: none;"> {{ chat.texto }}</a></td>
                      
                        </tr>
                    </tbody>
                </table>
                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div>
                
            </div>
        </div>
    </div>
</div>