#div1{
    margin-bottom: 15px;
}
#toolbar{
    background-color: white; 
    color: #D500F9;
}
#ul1{
    position: absolute; 
    top: 20px; 
    right: 15px;
}
li{
    list-style: none;
}
#for{
    text-align: center; 
    font-size: large;
}
a{
    color: black; 
    text-decoration: none;
}