<form autocomplete="off" #createChatForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "CreateNewChat" | localize }}</h1>
    <mat-dialog-content style="width:600px;height:300px;">
        <mat-tab-group>
            <mat-tab [label]="'ChatDetalles' | localize">
                <br />
                <div class="row-fluid">
                  <div class="col-md-6">
                    
                    
                    <mat-form-field>
                      <input
                        matInput
                        name="Texto"
                        [placeholder]="'Texto' | localize"
                        [(ngModel)]="chat.texto"
                        required
                        maxlength="256"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="HorarioInicio"
                        [placeholder]="'HorarioInicio' | localize"
                        [(ngModel)]="chat.publicacionHorarioInicio"
                        required
                        maxlength="32"
                      />
                    </mat-form-field>

                    
                  </div>
                </div>
              </mat-tab>
              
            
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!createChatForm.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
