<div class="row clearfix" [@routerTransition] style="width: 500px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       
            <h3 style="color:#EA80FC"><i class="fa fa-users" aria-hidden="true" style="color:#EA80FC"></i>&nbsp; SEGUIDORES</h3>
            <div class="body table-responsive">
                <!--query end-->
                <table class="table table-hover table-striped" [busy]="isTableLoading" style="width: 500px;">
                    <tbody>
                        <tr *ngFor="
                let user1 of (user.usuariosSeguidores)
              ">            
                            <a [routerLink] = "['/app/perfil',user1.usuario.id]" style="color: black; text-decoration: none;"><td>{{ user1.usuario.userName }}</td></a>
                            <td>
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item > <a [routerLink] = "['/app/chats',user1.usuario.id]" style="color: black; text-decoration: none;">
                                        <mat-icon>chat</mat-icon>
                                        <span>{{ "Mensaje" | localize }}</span></a>
                                    </button>
                                    <button mat-menu-item ><a [routerLink] = "['/app/correo']" style="color: black; text-decoration: none;"> 
                                        <mat-icon>email</mat-icon>
                                        <span>{{ "Correo" | localize }}</span></a>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div>
            </div>
        
    </div>
</div>
