template{
    float: right; 
    font-size: large;
}

.scrollbar {
    height: 500px;
    padding: inherit;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    height: xyz;
}
.force-overflow {
    min-height: 450px;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc; 
}

#div1{
    margin-bottom: 15px; 
    padding: 16px;
}
#toolbar{
    background-color: white; 
    color: #D500F9; 
    display: inline;
}
#h2-1{
    margin-left: 50px; 
    text-align: center; 
    float: left;
}
#h2-2{
    margin-right: 50px; 
    text-align: center; 
    float: right;
}
#div2{
    width: auto; 
    margin-top: 10px; 
    padding: 0 16px;
}
#for{
    margin-top: 10px 0 10px; 
    padding-top: 10px;
}
#p-texto{
    float: left; 
    font-size: large;
}
#span-1{
    color: mediumvioletred;
}
#span-2{
    font-size: small;
}
#p-texto2{
    float: right; 
    font-size: large;
}
#span-3{
    color: rosybrown;
}
#but-add{
    background-color: #EA80FC; 
    color: white;
}