<div class="card main-content clearfix" id="div1" >
    <mat-toolbar id="toolbar">
        <h2 id="h2-1">{{chatUOrig}}</h2>
        <h2 id="h2-2">{{chatUDest}}</h2>        
    </mat-toolbar>
</div>


<div class="card main-content center-block card-body " id="div2">
    
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="scrollbar scrollbar-secondary">
        <div class="force-overflow">
            <div *ngFor="
            let chat of (chats)"  id="for" >
                <div>
                    <p class="card-text"  *ngIf="chat.usuarioOrigen == uLogado; else uDestino" id="p-texto">
                        <span id="span-1">{{chat.texto}}</span>
                        <span id="span-2"> &nbsp;&nbsp;&nbsp;&nbsp;{{chat.fechaHora | date:'medium'}}</span></p>
                    
                    <ng-template  class="card-text" #uDestino>
                        <p id="p-texto2">
                            <span id="span-3">{{chat.texto}}</span>
                            <span id="span-2"> &nbsp;&nbsp;&nbsp;&nbsp;{{chat.fechaHora | date:'medium'}}</span></p>
                    </ng-template>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    

    <div class="card-footer">
        <mat-form-field>
            <mat-label>Escribe algo</mat-label>
            <input matInput [(ngModel)]="text">
        </mat-form-field>
    </div>

    <button class="mdc-fab " mat-mini-fab id="but-add" matTooltip="Enviar"
     class="pull-right" (click)="createChat()" (keyup.enter)="createChat()">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">add</span>
    </button>

</div>

