<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="scrollbar scrollbar-secondary">
    <div *ngFor="
    let anuncio of (anuncios)
  ">
        <ng-container *ngIf="anuncio.usuarioActualGustaPublicacion;">   
            <div class="card main-content">
                <div class="header" id="m10">
                    <img class="card-img-left" src="assets/images/user.png" width="88" height="88" alt="User"/>  
                    <p class="card-body" id="name"><strong>{{ anuncio.publicacionNombreUsuario }}</strong></p>
                    <button class="mdc-icon-button material-icons" matTooltip="Te gusta el anuncio"
                            id="fav-red" (click)="noGustaPublicacion(anuncio.publicacionId)">favorite</button>     
                    <p class="card-body text-right" id="categ"><strong>Categoría:</strong> {{ anuncio.publicacionCategoria }}</p>
                </div>
                <div class="card-body" id="m30">
                    <p id="text">{{ anuncio.publicacionTexto }}</p>
                    <p><strong>Preferencias:</strong> {{ anuncio.preferencias }}</p>
                </div>
                <div class="card-body" id="div1">
                    <p id="div-inline"><strong>Horario Inicio:</strong> {{ anuncio.publicacionHorarioInicio }}</p>
                    <p id="div2"><strong>Horario Fin:</strong> {{ anuncio.publicacionHorarioFin }}</p>
                    <p id="div3"><strong>Municipio:</strong> {{ anuncio.publicacionMunicipio }}</p>
                    <p id="div2"><strong>Ciudad:</strong> {{ anuncio.publicacionCiudad }}</p>
                </div>
            </div>
        </ng-container>
    </div>    
    
</div>
