<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="scrollbar scrollbar-secondary">
    <div *ngFor="
    let anuncio of (anuncios
      | paginate
        : {
            id: 'server',
            itemsPerPage: pageSize,
            currentPage: pageNumber,
            totalItems: totalItems
          })
  ">
        <ng-container *ngIf="anuncio.usuarioActualGustaPublicacion;">   
            <div class="card main-content">
                <div class="header" style="margin: 10px">
                    <img class="card-img-left" src="assets/images/user.png" width="88" height="88" alt="User"/>  
                    <p class="card-body" style="display: inline; margin-left: 25px; font-size: large;"><strong>{{ anuncio.publicacionNombreUsuario }}</strong></p>
                    <button class="mdc-icon-button material-icons" 
                            style="color: red; display: inline; margin-left: 25px; margin-top: 32px; float: right; 
                            background-color: transparent;" (click)="noGustaPublicacion(anuncio.publicacionId)">favorite</button>     
                    <p class="card-body text-right" style="display: inline; margin-left: 25px; margin-top: 32px; float: right;"><strong>Categoría:</strong> {{ anuncio.publicacionCategoria }}</p>
                </div>
                <div class="card-body" style="margin: 30px">
                    <p style="font-size: large;">{{ anuncio.publicacionTexto }}</p>
                    <p><strong>Preferencias:</strong> {{ anuncio.preferencias }}</p>
                </div>
                <div class="card-body" style="margin: 30px; padding-bottom: 20px;">
                    <p  style="display: inline;"><strong>Horario Inicio:</strong> {{ anuncio.publicacionHorarioInicio }}</p>
                    <p  style="display: inline; margin-left: 70px;"><strong>Horario Fin:</strong> {{ anuncio.publicacionHorarioFin }}</p>
                    <p  style="display: inline; margin-left: 150px;"><strong>Municipio:</strong> {{ anuncio.publicacionMunicipio }}</p>
                    <p  style="display: inline; margin-left: 70px;"><strong>Ciudad:</strong> {{ anuncio.publicacionCiudad }}</p>
                </div>
            </div>
        </ng-container>
    </div>    
    
</div>
