<mat-toolbar id="tb">
    <h1>Anuncios</h1>
  </mat-toolbar>
<br />
<div class="dropdown" mdbDropdown>
    <mat-toolbar id="bc-white">
        <h2>Buscar por...</h2>

        <mat-menu #appCategoria="matMenu">
            <button mat-menu-item (click)="buscarTodas()">-Todas-</button>
            <button mat-menu-item (click)="buscarCategoria('Infantil')">Infantil</button>
            <button mat-menu-item (click)="buscarCategoria('Educativo')">Educativo</button>
            <button mat-menu-item (click)="buscarCategoria('Informatica')">Informatica</button>
            <button mat-menu-item (click)="buscarCategoria('Terapia')">Terapia</button>
            <button mat-menu-item (click)="buscarCategoria('Compras')">Compras</button>
            <button mat-menu-item (click)="buscarCategoria('Mayores')">Mayores</button>
            <button mat-menu-item (click)="buscarCategoria('Idiomas')">Idiomas</button>
            <button mat-menu-item (click)="buscarCategoria('Ambiental')">Ambiental</button>
            <button mat-menu-item (click)="buscarCategoria('Cultural')">Cultural</button>
            <button mat-menu-item (click)="buscarCategoria('Comunitario')">Comunitario</button>
            <button mat-menu-item (click)="buscarCategoria('Internacional')">Internacional</button>
            <button mat-menu-item (click)="buscarCategoria('Sanitario')">Sanitario</button>
            <button mat-menu-item (click)="buscarCategoria('Ocio')">Ocio</button>

        </mat-menu>
        
        <button [matMenuTriggerFor]="appCategoria" class="mat-raised-button " 
                id="but1">Categoria &nbsp;
                <i class="fa fa-list-ul" aria-hidden="true"></i>
        </button>

        <mat-menu #appCiudad="matMenu">
            <mat-form-field autoClose="nonInput">
                <mat-label>Ciudad...</mat-label>
                <input class="input-log" name="text" matInput [(ngModel)]="text" (click)="buscarCiudad(text)">
            </mat-form-field>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appCiudad" class="mat-raised-button " 
                id="but2">Ciudad &nbsp;
                <i class="fa fa-map-marker" aria-hidden="true"></i>
        </button>

        <mat-menu #appMunicipio="matMenu">
            <mat-form-field autoClose="nonInput">
                <mat-label>Municipio...</mat-label>
                <input class="input-log" name="texto" matInput [(ngModel)]="texto" (click)="buscarMunicipio(texto)">
            </mat-form-field>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appMunicipio" class="mat-raised-button " 
                id="but2">Municipio &nbsp;
                <i class="fa fa-home" aria-hidden="true"></i>
        </button>

        <mat-menu #appUsuario="matMenu">
            <mat-form-field autoClose="nonInput">
                <mat-label>Usuario...</mat-label>
                <input class="input-log" name="tex" matInput [(ngModel)]="tex" (click)="buscarUsuario(tex)">
            </mat-form-field>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appUsuario" class="mat-raised-button " 
                id="but2">Usuario &nbsp;
                <i class="fa fa-user" aria-hidden="true"></i>
        </button>

        <mat-menu #appHorarioIni="matMenu">
            <button mat-menu-item (click)="buscarTodas()">-Todas-</button>
            <button mat-menu-item (click)="buscarHorarioIni('6')">6</button>
            <button mat-menu-item (click)="buscarHorarioIni('7')">7</button>
            <button mat-menu-item (click)="buscarHorarioIni('8')">8</button>
            <button mat-menu-item (click)="buscarHorarioIni('9')">9</button>
            <button mat-menu-item (click)="buscarHorarioIni('10')">10</button>
            <button mat-menu-item (click)="buscarHorarioIni('11')">11</button>
            <button mat-menu-item (click)="buscarHorarioIni('12')">12</button>
            <button mat-menu-item (click)="buscarHorarioIni('13')">13</button>
            <button mat-menu-item (click)="buscarHorarioIni('14')">14</button>
            <button mat-menu-item (click)="buscarHorarioIni('15')">15</button>
            <button mat-menu-item (click)="buscarHorarioIni('16')">16</button>
            <button mat-menu-item (click)="buscarHorarioIni('17')">17</button>
            <button mat-menu-item (click)="buscarHorarioIni('18')">18</button>
            <button mat-menu-item (click)="buscarHorarioIni('19')">19</button>
            <button mat-menu-item (click)="buscarHorarioIni('20')">20</button>
            <button mat-menu-item (click)="buscarHorarioIni('21')">21</button>
            <button mat-menu-item (click)="buscarHorarioIni('22')">22</button>
        </mat-menu>
        
        <button [matMenuTriggerFor]="appHorarioIni" class="mat-raised-button " 
                id="but2">Horario de Inicio &nbsp;
                <i class="fa fa-clock-o" aria-hidden="true"></i>
        </button>


    </mat-toolbar>
</div>

<br />
<div >
    <div *ngFor="
    let anuncio of (anuncios)
  ">
        <div class="card main-content">

            <div class="header" id="m10">
                <a [routerLink] = "['/app/perfil',anuncio.usuarioId]" ><img class="card-img-left" src={{anuncio.publicacionFoto}} width="88" height="88" alt="User"/> </a> 
                <p class="card-body" id="p-nombre"><a [routerLink] = "['/app/perfil',anuncio.usuarioId]"><strong>{{ anuncio.publicacionNombreUsuario }}</strong></a></p>
       
                <div id="div-inline">
                    
                    <ng-container *ngIf="anuncio.usuarioActualGustaPublicacion; else no">   
                        <button class="mdc-icon-button material-icons" 
                            id="fav-red" (click)="noGustaPublicacion(anuncio.publicacionId)">favorite</button>     
                    </ng-container>

                    <ng-template #no>
                        
                        <button class="mdc-icon-button material-icons" 
                            id="fav-grey" (click)="gustaPublicacion(anuncio.publicacionId)">favorite</button>
                    </ng-template>
                </div>

                <p class="card-body text-right" id="p-categ-nfav"><strong>Numero de Favoritos:</strong>{{anuncio.numUsuarios}}</p>

                <p class="card-body text-right" id="p-categ-nfav"><strong>Categoría:</strong> {{ anuncio.publicacionCategoria }}</p>
            </div>

            <div class="card-body" id="m30">
                <p id="f-large">{{ anuncio.publicacionTexto }}</p>
                <p *ngIf="anuncio.isUrgent==true"><strong>Es urgente: </strong>Si</p>
                <p *ngIf="anuncio.isUrgent==false"><strong>Es urgente: </strong>No</p>
            </div>

            <div class="card-body" id="div-bot">
                <p  id="div-inline"><strong>Horario Inicio:</strong> {{ anuncio.publicacionHorarioInicio }}</p>
                <p  id="p1"><strong>Horario Fin:</strong> {{ anuncio.publicacionHorarioFin }}</p>
                <p  id="p2"><strong>Municipio:</strong> {{ anuncio.publicacionMunicipio }}</p>
                <p  id="p1"><strong>Ciudad:</strong> {{ anuncio.publicacionCiudad }}</p>
            </div>

        </div>

    </div> 

    <button class="mdc-fab " mat-mini-fab id="but-add" class="pull-right" (click)="createAnuncio()">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">add</span>
    </button>

</div>

